name: Python CI/CD Demo

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run unit tests
        run: pytest --maxfail=1 --disable-warnings -q

      - name: Build Status
        if: success()
        run: echo "BUILD IS STABLE ✔ All tests passed!"

      - name: Build Failed
        if: failure()
        run: echo "BUILD IS UNSTABLE ❌ Tests failed!"

  deploy:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - name: Deployment Step (Simulation)
        run: |
          echo "Deploying the app..."
          echo "Deployment completed successfully!"
